@media screen and (max-width: 576px) {
    nav{
       /* flex-direction: column; */
       padding: 0rem 1rem;
       justify-content: space-between;
       text-align: center;
    }
    /* .menu-items ul li {
        margin: 0 0.8rem;
        flex-wrap: wrap;
    } */
    .none{
        display: none;
    }
    .logo{
        font-size: 1.2rem;
    }
    .cross{
        display: block;
    }
    .hero-container{
        background-position: top;
    }
    .hero-container{
        flex-direction: column-reverse;
        gap: 2rem;
        background-position: top;
        height: 900px;
        padding: 0px 1.5rem;
        justify-content: center;
        background-size: contain;
    }
    .hero-text, .hero-image{
        width: 100%;
    }
    .hero-text{
        text-align: center;
        margin-top: 80px;
    }
    .hero-text h1{
        font-size: 2rem;
    }
    .hero-image {
        text-align: center;
    }
    .hero-image img{
        width: 100%;

    }
    .partners-container{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 3rem;
        width: 100%;
    }
    .partners-container img{
        max-width: 75px;
    }
    .all-product-cards{
        grid-template-columns: repeat(1, 1fr);
    }
    .products-container .product-see-more{
        background-color: var(--primary-bg-color);
        width: 100%;
        color: #fff;
        text-align: center;
        padding: 8px 0px;
        margin: 1rem 0rem;
    }
}