
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* variables  */
:root{
    --primary-bg-color: #e02c6d;
    --primary-text-color: #3a3a3a;
    --section-font-size: 1rem; 
}

/* variables  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* shared styles */
.text-primary{
    color: var(--primary-text-color);
    font-size: var(--section-font-size);
    font-weight: 600;
}
main{
    max-width: 1200px;
    margin: 0 auto;
}
/* shared styles ends*/

/* Navbar styles  */
Header{
    max-width: 1240px;
    margin: 0 auto;
    background-color: #fff;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}

.logo{
    color: #3a3a3a;
    font-weight: bold;
    font-size: 1.50rem;
}
.cross{
    display: none;
}
.cross .bar{
    width: 30px;
    margin-bottom: 6px;
    height: 3px;
    background-color: var(--primary-text-color);
    cursor: pointer;
}
.cross li{
    list-style: none;
}
.menu-items ul{
    display: flex;
    align-items: center;
}

.menu-items ul li{
    list-style: none;
    margin: 0 1.5rem;
}

.menu-items ul li a{
    text-decoration: none;
    font-size: 1rem;
    color: #3a3a3a;
    font-weight: 600;
    position: relative;
}
.dot::before{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: #000;
    position: absolute;
    right: 0;
}
.dot::after{
    content: '';
    display: block;
    width: 9px;
    height: 2px;
    border-radius: 50px;
    background-color: #000;
    position: absolute;
    left: 31%;
    top: -3px;
}
.nav-search-cart{
    display: flex;
    align-items: center;
}
/* Navbar styles ends */

/* Hero section styles */
.hero-container{
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    align-items: center;
    margin-top: 50px;
    height: 500px;
    background-size: auto;
}
.hero-text, .hero-image{
    width: 50%;
}
.hero-text h1{
    font-size: 3rem;
    font-weight: bold;
    color: #3a3a3a;
    margin-bottom: 1rem;
}
.hero-btn{
    background-color: var(--primary-bg-color);
    padding: 12px 24px;
    border-radius: 41px;
    border: none;
    margin-top: 1rem;
    font-weight: bold;
    color: #fff;
}
.hero-image {
    text-align: right;
}
/* Hero section styles ends */

/* Partners section styles  */
.partners-container::before{
    content: '';
    display: block;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(to right, rgba(192, 204, 218, 0.1), rgba(192, 204, 218, 0.6) 50%, rgba(192, 204, 218, 0.1));
    position: absolute;
    top: 0;
}
.partners-container::after{
    content: '';
    display: block;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(to right, rgba(192, 204, 218, 0.1), rgba(192, 204, 218, 0.6) 50%, rgba(192, 204, 218, 0.1));
    position: absolute;
    bottom: 0;
}
.partners-container{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    position: relative;
    align-items: center;
    background-color: #fff;
    padding: 0px 1.5rem;
    justify-items: center;
}
.partners-img{
    padding: 1.5rem 0px;
    cursor: pointer;
}
/* Partners section styles  */

/* Products items styles */
.products-container{
    background-color: #fff;
}
.section-title{
    font-size: 1.75rem;
    color: var(--primary-text-color);
    margin-top: 5rem;
    margin-bottom: 2rem;
    text-align: center;
}
.all-product-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.8rem;
    padding: 0px 1.8rem;
}
.product-cards{
    border-radius: 5px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    padding: 1rem;
    overflow: hidden;
}
.product-cards .products-img{
    width: 100%;
    height: 260px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
}
.product-cards .products-img img{
    width: 100%;
    transform-origin: 50% 50%;
    transition: transform 0.4s ease;
}

/* .product-cards .pd-img .product-img:hover{
    transform: scale(1.1);
    border-radius: 5px;
} */
.product-cards img:hover{
    transform: scale(1.08);
    border-radius: 5px;
}

.product-cards .product-title{
    font-size: 1.75rem;
    color: #18191f;
    font-weight: 500;
}
.product-cards .price{
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.87);
}
.product-cards .rating-per{
    font-size: 0.8rem;
    color: #5e6366;
}
.product-cards .rating i{
    color: #fb8200;
    font-size: 0.7rem;
    cursor: pointer;
}
.product-cards .products-info{
    font-size: 0.9rem;
    color: #787885;
    margin: 10px 0rem;
    padding-right: 60px;
}
.product-cards .buy-cart{
    padding: 10px 20px;
    border: none;
    background-color: var(--primary-bg-color);
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .4s ease-in-out;
}
.product-cards .add-to-cart{
    background-color: var(--primary-text-color);
    margin-left: 20px;
}
.product-cards .buy-cart:hover{
    background-color: #fb8200;
}
.products-container .product-see-more{
    color: var(--primary-bg-color);
    font-size: 1rem;
    font-weight: 600;
    text-align: right;
    margin-top: 50px;
    margin-right: 40px;
    cursor: pointer;
}
/* Products items styles ends */

/* feature section styles */
.feature-container{
    display: flex;
    flex: 1;
    gap: 96px;
    align-items: center;
    margin-top: 100px;
}
.feature-img{
    overflow: hidden;
    border-radius: 5px;
    transform-origin: 50% 50%;
    transition: transform 0.4s ease;
    height: 275px;
}
.feature-img img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: transform 0.4s ease;
}
.feature-img img:hover{
    transform: scale(1.1);
}

.feature-content h2{
    font-size: 2.25rem;
    font-weight: bold;
    color: #0a0826;
}
.feature-content .feature-info{
    font-size: 1rem;
    font-weight: 600;
    color: #6c6c6c;
    max-width: 500px;
    margin: 16px 0px;
}
.feature-content .feature-btn{
    padding: 12px 24px;
    background-color: var(--primary-bg-color);
    border: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    transform-origin: top right;;
}
.feature-content .feature-btn:hover{
    background-color: #fb8200;
}

/* feature section styles ends*/

/* Footer section styles */
footer{
    width: 100%;
    background-color: #0a0826;
    color: #fff;
    height: 240px;
    display: flex;
    align-items: center;
    margin-top: 100px;
    justify-content: center;
}
.footer-conotainer{
    text-align: center;
}
.footer-conotainer .logo{
    color: #fff;
}
.social-icons{
    margin-top: 1rem;
    text-align: center;
}
.social-icons .fa-brands{
    padding: 10px;
    background-color: #22213c;
    border-radius: 50px;
    font-size: 1.25rem;
    margin-left: 1rem;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}
.social-icons .fa-brands:hover{
    transform: translateY(-10px);
    background-color: var(--primary-bg-color);
}
/* Footer section styles ends*/